/* ==========================================================================
   Custom CSS 
   ========================================================================== */
   
p {
  padding-bottom : 0.5rem;
}

div .view{
    padding: 0.5em;
    margin: 0.5em;
    border: 1px solid #999;
}
