/* ==========================================================================
   Custom CSS 
   ========================================================================== */

body{
   font-family : 'Jeju Gothic','Malgun Gothic'
}

body.post h2{
   background-color: #aaa;
   color : white;
}

#main {
    margin-top: 1.5em;
}

h1,h2{
   padding : 0.5rem;
}

h1,h2,h3,h4,h5,h6{
   font-family : 'Jeju Gothic','Malgun Gothic'
}   

h4{
   font-size: 1.5rem;
}

h5{
   color: #5D5D5D;
   font-size: 1.4rem;
}

h6{
   color: #5D5D5D;
   font-size: 1.2rem;
}

dt {
    font-style: oblique;
    font-weight: bold;
    margin: .5rem 0 .5rem 0;
}

p {
  padding-bottom : 0.3rem;
  line-height : 1.8rem;
}

ol,ul {
    line-height: 1.8rem;
}

p+p {
    text-indent: 0.8rem;
}

div .view{
    padding: 0.5em;
    margin: 0.5em;
    border: 1px solid #999;
}

.mid_sept{
   border-top: 0.5px dotted #ddd;
}

p.post_title {
    text-align: right;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.by-line {
    display: block;
    color: #626262;
    line-height: 0.1em;
    margin-top : 0.5em;
    margin-bottom: 0.8em;
    font-weight: 200;
    font-size: 0.9rem;
    text-align: right;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;    
    border-color: grey;
}

 
table>tbody>tr>td, table>tbody>tr>th, table>tfoot>tr>td, table>tfoot>tr>th, table>thead>tr>td, table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

table>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}


pre.highlight {
    padding: 1.2em;
    background: #272822;
    color: white;
    border-radius: .7em;
}
