/* ==========================================================================
   Custom CSS 
   ========================================================================== */

h1,h2,h3,h4,h5{
   padding-top : 1rem;
}   
   
p {
  padding-bottom : 0.5rem;
}

div .view{
    padding: 0.5em;
    margin: 0.5em;
    border: 1px solid #999;
}


table {
    border-spacing: 0;
    border-collapse: collapse;
    border-color: grey;
}

table>tbody>tr>td, table>tbody>tr>th, table>tfoot>tr>td, table>tfoot>tr>th, table>thead>tr>td, table>thead>tr>th {
    border: 1px solid #ddd;
}

table>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
